html,
body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, sans-serif;
}

canvas {
    display: block;
}

.button-row {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

fieldset {
    margin: 0;
}
